.creatureButton {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: bold 15pt "Arial";
    -fx-max-width: infinity;
    -fx-hgrow-policy:always;
}

.label {
   -fx-font: bold 30pt "Arial";
}

.centerHBox {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-pref-width: 800;
}